<div
    class="bg-image d-flex justify-content-center align-items-center"
    style="
            background-image: url('https://res.cloudinary.com/dpiiypeop/image/upload/v1614957890/test/gotcha_2_ufliqe.png');
            height: 100vh;
            "
    >
  <h1 class="text-white"></h1>

</div>


<%# https://res.cloudinary.com/dpiiypeop/image/upload/v1614957890/test/gotcha_2_ufliqe.png %>